*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background: url(https://getwallpapers.com/wallpaper/full/f/0/a/298999.jpg);
    height: 700px;
    background-size: 100% 100%;
}
.form{
    /* top: 50px; */
    position: relative;
    height: 300px;
 background: lightcoral;
}
.login-form{
    background: lightblue;
    height: 300px;
    width: 300px;
    border: 1px solid navy;
    /* margin: 120px auto; */
    
    left: 40%;
    position: absolute;

}